{% set title = 'Find out where your health record has been used' %}
{% set parent = 'Health A-Z' %}
{% from 'components/inset-text/macro.njk' import insetText %}
{% from 'components/do-dont-list/macro.njk' import list %}
{% from 'components/care-card/macro.njk' import careCard %}
{% from 'components/breadcrumbs/macro.njk' import breadcrumbs %}
{% from 'components/cookie-banner/macro.njk' import cookieBanner %}
{% from 'components/emergency-alert/macro.njk' import emergencyAlert %}
{% from 'components/feedback-banner/macro.njk' import feedbackBanner %}
{% from 'components/phase-banner/macro.njk' import phaseBanner %}
{% from 'components/reveals/macro.njk' import reveal %}
{% extends "includes/templates/transaction-page.html"%}
{% set navigation = 'transactional-at' %}
<link href="/assets/css/gds-styles.css" rel="stylesheet" media="all" />

{% block breadcrumb %}
  {{ phaseBanner('New', 'We are testing a service — your <a href="#">feedback</a> will help us to improve it.') }}
{% endblock %}

{% block content %}
<div class="nhsuk-reading-width">
  <h1 class="nhsuk-c-transaction-head">
    Where your records have been used
  </h1>
  <ul class="audit-list-unstyled">
    <li>
      <strong>Your name:</strong> Jim Smith
    </li>
    <li>
      <strong>Your NHS number:</strong> 485 777 3456
    </li>
    <li style="display:none">
      <strong>Your GP Surgery:</strong> <a href="#">Willow lane Surgery</a>
    </li>
  </ul>

  <div class="a-z-list--results">
    <div class="nhsuk-a-z-list--results-items">
      <h2 id="1">September 2018</h2>
        <div class="nhsuk-a-z-list--results-items__box">
          <ul>
            <li>
              <div class="nhsuk-a-z-list--results-items--container">
                <h3>Friday, 21 September</h3>

                <ol class="audit-list-timefeed">
                  <li>
                    <p><span class="audit-list-timefeed__timestamp">3:32pm</span> Leeds Teaching Hospitals NHS Trust</p>
                  </li>
                  <li>
                    <p><span class="audit-list-timefeed__timestamp">3:37pm</span> Leeds Teaching Hospitals NHS Trust</p>
                  </li>
                </ol>

              </div>
            </li>

            <li>
              <div class="nhsuk-a-z-list--results-items--container">
                <h3>Thursday, 20 September 2018</h3>

                <ol class="audit-list-timefeed">
                  <li>
                    <p><span class="audit-list-timefeed__timestamp">10:32pm</span> Leeds Teaching Hospitals NHS Trust</p>
                  </li>
                </ol>

              </div>
            </li>

            <li>
              <div class="nhsuk-a-z-list--results-items--container">
                <h3>Sunday, 16 September 2018</h3>

                <ol class="audit-list-timefeed">
                  <li>
                    <p><span class="audit-list-timefeed__timestamp">7:32pm</span> Leeds Teaching Hospitals NHS Trust</p>
                  </li>
                </ol>

              </div>
            </li>

            <li>
              <div class="nhsuk-a-z-list--results-items--container">
                <h3>Saturday, 15 September 2018</h3>

                <ol class="audit-list-timefeed">
                  <li>
                    <p><span class="audit-list-timefeed__timestamp">3:32am</span> Yorkshire Ambulance Service NHS Trust</p>
                  </li>
                  <li>
                    <p><span class="audit-list-timefeed__timestamp">4:07am</span> Leeds Teaching Hospitals NHS Trust</p>
                  </li>
                  <li>
                    <p><span class="audit-list-timefeed__timestamp">4:38am</span> Leeds Teaching Hospitals NHS Trust</p>
                  </li>
                </ol>

              </div>
            </li>

            <li>
              <div class="nhsuk-a-z-list--results-items--container">
                <h3>Thursday, 13 September 2018</h3>

                <ol class="audit-list-timefeed">
                  <li>
                    <p><span class="audit-list-timefeed__timestamp">11:24am</span> Leeds Community Healthcare NHS Trust</p>
                  </li>
                </ol>

              </div>
            </li>
          </ul>
        </div>
    </div>
  </div>

  <div class="a-z-list--results">
    <div class="nhsuk-a-z-list--results-items">
      <h2 id="2">August 2018</h2>
        <div class="nhsuk-a-z-list--results-items__box">
          <ul>
            <li>
              <div class="nhsuk-a-z-list--results-items--container">
                <h3>Tuesday, 28 August 2018</h3>

                <ol class="audit-list-timefeed">
                  <li>
                    <p><span class="audit-list-timefeed__timestamp">10:13am</span> Leeds Community Healthcare NHS Trust</p>
                  </li>
                  <li>
                    <p><span class="audit-list-timefeed__timestamp">3:46pm</span> Star Pharmacy Leeds</p>
                  </li>
                </ol>
              </div>
            </li>
            <li class="nhsuk-a-z-list--results-items__link">
              <a href="#">View more</a>
            </li>
          </ul>
        </div>
    </div>
  </div>

</div>
</div>

<div class="content-divider content-divider--short"></div>
{% endblock %}

{% block footer %}
  {{ feedbackBanner('Help us make the NHS website better', 'Your feedback helps us improve the NHS website.', '#', 'Take our short survey') }}
{% endblock %}
