{% set title = 'Find out where your health record has been used' %}
{% set parent = 'Health A-Z' %}
{% from 'components/inset-text/macro.njk' import insetText %}
{% from 'components/do-dont-list/macro.njk' import list %}
{% from 'components/care-card/macro.njk' import careCard %}
{% from 'components/breadcrumbs/macro.njk' import breadcrumbs %}
{% from 'components/cookie-banner/macro.njk' import cookieBanner %}
{% from 'components/emergency-alert/macro.njk' import emergencyAlert %}
{% from 'components/feedback-banner/macro.njk' import feedbackBanner %}
{% from 'components/phase-banner/macro.njk' import phaseBanner %}
{% from 'components/reveals/macro.njk' import reveal %}
{% extends "includes/templates/transaction-page.html"%}
{% set navigation = 'transactional-at' %}
<link href="/assets/css/gds-styles.css" rel="stylesheet" media="all" />

{% block breadcrumb %}
  {{ phaseBanner('New', 'We are testing this service — your <a href="#">feedback</a> will help us to improve it.') }}
{% endblock %}

{% block content %}

<div class="nhsuk-reading-width">
  <div class="nhsuk-c-promo audit-c-promo">
    <div class="nhsuk-c-promo__content">
      <h1 class="audit-c-promo-heading">
        Your records weren't used in the last year
      </h1>
      <p>
        Health and care staff can look at your Summary Care Record when you're away from your GP Surgery, for example:
      </p>
      <ul>
        <li>
          in an emergency
        </li>
        <li>
          at a walk-in centre
        </li>
        <li>
          at a pharmacy
        </li>
      </ul>
      <p>
        Your Summary Care Record hasn't been used in the last 12 months.
      </p>
    </div>
  </div>
</div>

<div class="content-divider content-divider--short"></div>
{% endblock %}

{% block footer %}
  {{ feedbackBanner('Help us make the NHS website better', 'Your feedback helps us improve the NHS website.', '#', 'Take our short survey') }}
{% endblock %}
