{% set title = 'Find out where your health record has been looked at' %}
{% set parent = 'Health A-Z' %}
{% from 'components/inset-text/macro.njk' import insetText %}
{% from 'components/do-dont-list/macro.njk' import list %}
{% from 'components/care-card/macro.njk' import careCard %}
{% from 'components/breadcrumbs/macro.njk' import breadcrumbs %}
{% from 'components/cookie-banner/macro.njk' import cookieBanner %}
{% from 'components/emergency-alert/macro.njk' import emergencyAlert %}
{% from 'components/feedback-banner/macro.njk' import feedbackBanner %}
{% from 'components/phase-banner/macro.njk' import phaseBanner %}
{% from 'components/reveals/macro.njk' import reveal %}
{% extends "includes/templates/transaction-page.html"%}
{% set navigation = 'transactional-at' %}
{% set serviceName = "Find out who's looked at your health records" %}
<link href="/assets/css/gds-styles.css" rel="stylesheet" media="all" />

{% block breadcrumb %}
  {{ phaseBanner('New', 'We are testing this service — your <a href="#">feedback</a> will help us to improve it.') }}
{% endblock %}

{% block content %}
<div class="nhsuk-reading-width">
  <div class="nhsuk-c-promo audit-c-promo">
    <div class="nhsuk-c-promo__content">
      <h1 class="nhsuk-c-transaction-head">
        <span class="audit-timeframe">In the last year</span>
        Your Summary Care Record has not been looked at
      </h1>
      <p>
        If you have not received care in an emergency, at a walk-in centre or at a pharmacy it is unlikely your Summary Care Record was looked at.
      </p>
      <p>
        If you're still worried speak to the place where you received care, such as your GP surgery.
      </p>
    </div>
  </div>



</div>

<div class="content-divider content-divider--short"></div>
{% endblock %}

{% block footer %}
  {{ feedbackBanner('Help us make the NHS website better', 'Your feedback helps us improve the NHS website.', '#', 'Take our short survey') }}
{% endblock %}
