{% set title = 'How your health records are kept secure' %}
{% set parent = 'Your health records' %}
{% from 'components/pagination/macro.njk' import pagination, paginationNext, paginationPrevious %}
{% from 'components/callout/macro.njk' import callout %}
{% from 'components/review-date/macro.njk' import reviewDate %}
{% extends 'includes/site-layout.html' %}

{% block body %}
    <div class="nhsuk-o-width-container">
        <main class="nhsuk-o-main-wrapper">
            <div class="nhsuk-o-grid">
				<div class="nhsuk-o-grid__item nhsuk-o-grid__item--two-thirds">

					<div class="nhsuk-page-heading">

						<h1>How your health records are kept secure <small>Your health records</small></h1>

						<aside class="nhsuk-c-page-contents v3 v4" role="complementary">
							<nav role="navigation" aria-label="Pages in this guide">
								<h2 class="visually-hidden">Contents</h2>
								<ol>
									<li><a href="./">What your health records are</a></li>
									<li><a href="who-your-health-records-are-shared-with">Who your health records are shared with</a></li>
									<li class="active" aria-current="true">How your health records are kept secure</li>
                  <li><a href="how-to-look-at-your-health-records">How to look at your health records </a></li>
									<li><a href="/examples/minihub/living-with-amd">Living with AMD</a></li>
								</ol>
							</nav>
						</aside>

					</div>

					<div class="nhsuk-page-content">

            <h2>By removing information that identifies you </h2>
            <p>Your health records are anonymised as much as possible before they’re used by organisations.</p>
            <p>Anonymised means taking away information that identifies you such as your name and address. </p>
            <h2>By using an independent review committee</h2>
            <p>Before organisations can use your health records, they must be approved by an independent review committee to check:</p>
            <ul>
              <li>why they need your health records</li>
              <li>who will look at your health records</li>
              <li>how your health records will be kept secure</li>
            </ul>
            <p>If organisations are approved to use your health records they will only get the information they need to know.</p>
            <h2>By using strong IT security</h2>
            <p>Your health records must be stored securely and protected by passwords so only the appropriate people will be able to access it.</p>

						</div>

						{{ reviewDate("12/02/2016", "01/02/2019") }}

					</div>

				</div>
			</div>
        </main>
	</div>


{% endblock %}
