{% set title = 'Find out where your health record has been looked at' %}
{% set parent = 'Health A-Z' %}
{% from 'components/inset-text/macro.njk' import insetText %}
{% from 'components/do-dont-list/macro.njk' import list %}
{% from 'components/care-card/macro.njk' import careCard %}
{% from 'components/breadcrumbs/macro.njk' import breadcrumbs %}
{% from 'components/cookie-banner/macro.njk' import cookieBanner %}
{% from 'components/emergency-alert/macro.njk' import emergencyAlert %}
{% from 'components/feedback-banner/macro.njk' import feedbackBanner %}
{% from 'components/phase-banner/macro.njk' import phaseBanner %}
{% from 'components/reveals/macro.njk' import reveal %}
{% extends "includes/templates/transaction-page.html"%}
{% set navigation = 'transactional-at' %}
<link href="/assets/css/gds-styles.css" rel="stylesheet" media="all" />

{% block breadcrumb %}
  {{ phaseBanner('New', 'We are testing this service — your <a href="#">feedback</a> will help us to improve it.') }}
{% endblock %}

{% block content %}
<div class="nhsuk-reading-width">
  <h1 class="nhsuk-c-transaction-head">
    <span class="audit-timeframe">In the last year</span> Your Summary Care Record was looked at <span class="audit-number"> 6 times </span>
  </h1>
  <h2 class="nhsuk-heading-m audit-heading--slim">In <span class="" id="">3</span> different care settings</h2>
  <ul class="audit-list-summary__list">
   <li class="audit-list-summary__item">
     <span class="audit-list-summary__number">3</span> times in an NHS trust
   </li>
   <li class="audit-list-summary__item">
     <span class="audit-list-summary__number">2</span> times in a Care home
   </li>
   <li class="audit-list-summary__item">
     <span class="audit-list-summary__number">1</span> time in a Pharmacy
   </li>
  </ul>

  <p>
    <a href="../timeline/spinner">See where your health records have been looked at</a>
  </p>
</div>

<div class="content-divider content-divider--short"></div>
{% endblock %}

{% block footer %}
  {{ feedbackBanner('Help us make the NHS website better', 'Your feedback helps us improve the NHS website.', '#', 'Take our short survey') }}
{% endblock %}
