.govuk-button--white {

  color: #005ea5;
  background-color: #005ea5;
  box-shadow: 0 4px 0 #004477;
}

.audit-c-promo--interruption {

  background-color: #05538e;
  box-shadow: 0 4px 0 0 #022138;
  color: white;

}
