.audit {
  a:visited {

    color: $nhsuk-blue;
  }
}

address {

  font-style: normal;
}

.nhsuk-transaction-header {

  padding: 20px;
  padding-bottom: 20px;
}

.nhsuk-transaction-header__title {

  color: $nhsuk-white;
  float: left;
  margin: 0;
  margin-bottom: 10px;
  @include mq($from: tablet) {
    line-height: 2;
  }
}

// yuk
.govuk-fieldset__legend {

  margin-bottom: 32px !important;
}

.nhsuk-heading-xl,
h1 {
  font-size: govuk-em(36px, $nhsuk-base-font-size-mobile);
  line-height: 38px;
  margin: 56px 0 0;
  @include mq($from: tablet) {
    font-size: govuk-em(38px, $nhsuk-base-font-size);
    line-height: 48px;
    margin: 64px 0 0;
  }
}


// link list buttons

li.nhsuk-list-signage__item--white {

  a {

    background-color: $nhsuk-white;
    color: $nhsuk-blue;
    border: 1px solid $nhsuk-border-colour;

    &:hover, &:focus {

      color: $nhsuk-link-hover-colour;
      background-color: $nhsuk-link-hover-background-colour;

    }

    .nhsuk-icon {

      fill: $nhsuk-blue;
    }
  }

}

.nhsuk-list-signage__item, .nhsuk-list-signage__item--white {

  max-width: 98%;
}
