{% set title = 'What companies cannot do with your health records' %}
{% set parent = 'Health A-Z' %}
{% from 'components/inset-text/macro.njk' import insetText %}
{% from 'components/do-dont-list/macro.njk' import list %}
{% from 'components/care-card/macro.njk' import careCard %}
{% from 'components/breadcrumbs/macro.njk' import breadcrumbs %}
{% from 'components/cookie-banner/macro.njk' import cookieBanner %}
{% from 'components/emergency-alert/macro.njk' import emergencyAlert %}
{% from 'components/feedback-banner/macro.njk' import feedbackBanner %}
{% from 'components/phase-banner/macro.njk' import phaseBanner %}
{% extends "includes/templates/article-page--hub.html"%}

{% block breadcrumb %}

  {{ breadcrumbs('#', 'Home', '../hub/', 'Your health records') }}
{% endblock %}

{% block header %}
  <h1>{{title}}</h1>
{% endblock %}

{% block content %}
<div class="nhsuk-reading-width">
  <h2>Use your health records for marketing and insurance</h2>
  <p>Your health records cannot be used by the NHS or other companies without your permission for:</p>
  <ul>
    <li>marketing</li>
    <li>insurance</li>
  </ul>
  <h2>Share your health records with third parties</h2>
  <p>Companies have to sign legal contracts before they can use your health records.</p>
  <p>The legal contract will say that information from your health records cannot be given to any third parties.</p>
  <p>Your information can only be given to third parties if it’s been approved by an independent group (an independent review committee).</p>

<p><a href ="../end">You can choose if your health records are used for research and planning.</a></p>
</div>

<div class="content-divider content-divider--short"></div>

{% endblock %}

{% block sidebar %}
  <div class="nhsuk-c-page-nav-left">
    <h2 class="nhsuk-heading-s">
      <a href="index">Your health records</a>
    </h2>
    <ul class="nhsuk-list-nav audit-list-unstyled">
      <li><a href="index">Your health records</a></li>
      <li><a href="what-your-health-records-are">What your health records are</a></li>
      <li><a href="what-a-Summary-Care-Record-is">What a Summary Care Record is</a></li>
      <li><a href="who-your-health-records-are-shared-with">Who your health records are shared with</a></li>
      <li><strong>What companies cannot do with your health records</strong></li>
      <li><a href="how-your-health-records-are-kept-secure">How your health records are kept secure</a></li>
      <li><a href="how-to-look-at-your-health-records">How to look at your health records</a></li>
      <li><a href="start">Find out who's looked at your health records</a></li>
      <li><a href="../end">Choose if your health records are used for research and planning</a></li>
    </ul>

  </div>
{% endblock %}
