{% set title = 'What companies cannot do with your health records' %}
{% set parent = 'Health A-Z' %}
{% from 'components/inset-text/macro.njk' import insetText %}
{% from 'components/do-dont-list/macro.njk' import list %}
{% from 'components/care-card/macro.njk' import careCard %}
{% from 'components/breadcrumbs/macro.njk' import breadcrumbs %}
{% from 'components/cookie-banner/macro.njk' import cookieBanner %}
{% from 'components/emergency-alert/macro.njk' import emergencyAlert %}
{% from 'components/feedback-banner/macro.njk' import feedbackBanner %}
{% from 'components/phase-banner/macro.njk' import phaseBanner %}
{% extends "includes/templates/article-page.html"%}

{% block breadcrumb %}

  {{ breadcrumbs('#', 'Home', '../hub/', 'Your health records') }}
{% endblock %}

{% block header %}
  <h1>{{title}}</h1>
{% endblock %}

{% block content %}
<div class="nhsuk-reading-width">
  <h2>Use your health records for marketing and insurance</h2>
  <p>Your health records cannot be used by the NHS or other companies without your permission for:</p>
  <ul>
    <li>marketing</li>
    <li>insurance</li>
  </ul>
  <h2>Share your health records with third parties</h2>
  <p>Companies have to sign legal contracts before they can use your health records.</p>
  <p>The legal contract will say that information from your health records cannot be given to any third parties.</p>
  <p>Your information can only be given to third parties if it’s been approved by an independent group (an independent review committee).</p>

<p><a href ="../end">You can choose if your health records are used for research and planning.</a></p>
</div>

<div class="content-divider content-divider--short"></div>

{% endblock %}
