{% set title = 'Who your health records are shared with' %}
{% set parent = 'Health A-Z' %}
{% from 'components/inset-text/macro.njk' import insetText %}
{% from 'components/do-dont-list/macro.njk' import list %}
{% from 'components/care-card/macro.njk' import careCard %}
{% from 'components/breadcrumbs/macro.njk' import breadcrumbs %}
{% from 'components/cookie-banner/macro.njk' import cookieBanner %}
{% from 'components/emergency-alert/macro.njk' import emergencyAlert %}
{% from 'components/feedback-banner/macro.njk' import feedbackBanner %}
{% from 'components/phase-banner/macro.njk' import phaseBanner %}
{% extends "includes/templates/article-page.html"%}

{% block breadcrumb %}

  {{ breadcrumbs('#', 'Home', '../hub/', 'Your health records') }}
{% endblock %}

{% block header %}
  <h1>{{title}}</h1>
{% endblock %}

{% block content %}
<div class="nhsuk-reading-width">
  <h2>Health and care staff</h2>
  <p>Health and care staff might look at your health records to care for you. For example they might look at your Summary Care Record to check if you have any allergies.</p>
  <h2>Organisations</h2>
  <p>Some of the information from your health records can be used by organisations such as:</p>
  <ul>
    <li>NHS providers and commissioners - to plan where the NHS needs to improve or provide more health services</li>
    <li>Pharmacies – to make sure they have enough stock of medicine by looking at what illnesses people have in their area</li>
    <li>University researchers - to find cures and better treatments for illnesses</li>
    <li>Charities – to look at NHS services and find ways to improve care</li>
    <li>Software providers – to provide computer systems for the NHS to use</li>
    <li>Pharmaceutical companies – to develop new medicines</li>
    <li>Analytics services – to help the NHS analyse large amounts of health data</li>
    <li>Tech companies – to develop smartphone apps to help people manage illnesses</li>
  </ul>

  <h2>What organisations cannot do with your health records</h2>
  <h3>Marketing and insurance </h3>
  <p>Your health records cannot be used by the NHS or other organisations without your permission for:</p>
  <ul>
    <li>marketing</li>
    <li>insurance</li>
  </ul>
  <h3>Sharing your health records with third parties</h3>
  <p>Organisations have to sign legal contracts before they can use your health records.</p>
  <p>The legal contract will say that information from your health records cannot be given to any third parties.</p>
  <p>Your information can only be given to third parties if it’s been approved by an independent group (an independent review committee).</p>

</div>

<div class="content-divider content-divider--short"></div>

{% endblock %}
