{% set title = 'Who your health records are shared with' %}
{% set parent = 'Health A-Z' %}
{% from 'components/inset-text/macro.njk' import insetText %}
{% from 'components/do-dont-list/macro.njk' import list %}
{% from 'components/care-card/macro.njk' import careCard %}
{% from 'components/breadcrumbs/macro.njk' import breadcrumbs %}
{% from 'components/cookie-banner/macro.njk' import cookieBanner %}
{% from 'components/emergency-alert/macro.njk' import emergencyAlert %}
{% from 'components/feedback-banner/macro.njk' import feedbackBanner %}
{% from 'components/phase-banner/macro.njk' import phaseBanner %}
{% extends "includes/templates/article-page--hub.html"%}

{% block breadcrumb %}

  {{ breadcrumbs('#', 'Home', '../hub/', 'Your health records') }}
{% endblock %}

{% block header %}
  <h1>{{title}}</h1>
{% endblock %}

{% block content %}
<div class="nhsuk-reading-width">
  <h2>Health and care staff</h2>
  <p>Health and care staff might look at your health records to care for you. For example they might look at your Summary Care Record to check if you have any allergies.</p>
  <h2>Companies</h2>
  <p>Some of the information from your health records can be used by companies such as:</p>
  <ul>
    <li>NHS providers and commissioners - to plan where the NHS needs to improve or provide more health services</li>
    <li>Pharmacies – to make sure they have enough stock of medicine by looking at what illnesses people have in their area</li>
    <li>University researchers - to find cures and better treatments for illnesses</li>
    <li>Charities – to look at NHS services and find ways to improve care</li>
    <li>Software providers – to provide computer systems and apps for the NHS to use</li>
    <li>Pharmaceutical companies – to develop new medicines</li>
    <li>Analytics services – to help the NHS analyse large amounts of health data</li>
  </ul>
  <p><a href="what-companies-cannot-do-with-your-health-records">Find out what companies cannot do with your health records.</a></p>

</div>

<div class="content-divider content-divider--short"></div>

{% endblock %}

{% block sidebar %}
  <div class="nhsuk-c-page-nav-left">
    <h2 class="nhsuk-heading-s">
      <a href="index">Your health records</a>
    </h2>
    <ul class="nhsuk-list-nav audit-list-unstyled">
      <li><a href="index">Your health records</a></li>
      <li><a href="what-your-health-records-are">What your health records are</a></li>
      <li><a href="what-a-Summary-Care-Record-is">What a Summary Care Record is</a></li>
      <li><strong>Who your health records are shared with</strong></li>
      <li><a href="what-companies-cannot-do-with-your-health-records">What companies cannot do with your health records</a></li>
      <li><a href="how-your-health-records-are-kept-secure">How your health records are kept secure</a></li>
      <li><a href="how-to-look-at-your-health-records">How to look at your health records</a></li>
      <li><a href="../start">Find out who's looked at your health records</a></li>
      <li><a href="../end">Choose if your health records are used for research and planning</a></li>
    </ul>

  </div>
{% endblock %}
