{% set title = 'Find out where your health record has been looked at' %}
{% set parent = 'Health A-Z' %}
{% from 'components/inset-text/macro.njk' import insetText %}
{% from 'components/do-dont-list/macro.njk' import list %}
{% from 'components/care-card/macro.njk' import careCard %}
{% from 'components/breadcrumbs/macro.njk' import breadcrumbs %}
{% from 'components/cookie-banner/macro.njk' import cookieBanner %}
{% from 'components/emergency-alert/macro.njk' import emergencyAlert %}
{% from 'components/feedback-banner/macro.njk' import feedbackBanner %}
{% from 'components/phase-banner/macro.njk' import phaseBanner %}
{% from 'components/reveals/macro.njk' import reveal %}
{% extends "includes/templates/transaction-page.html"%}
{% set navigation = 'transactional-at' %}
<link href="/assets/css/gds-styles.css" rel="stylesheet" media="all" />

{% block breadcrumb %}
  {{ phaseBanner('New', 'We are testing this service — your <a href="#">feedback</a> will help us to improve it.') }}
{% endblock %}

{% block content %}
<div class="nhsuk-reading-width">
  <h1 class="nhsuk-c-transaction-head">
    <span class="audit-timeframe">In the last year</span> Your Summary Care Record was looked at <span class="audit-number"> 6 times </span>
  </h1>
  <h2 class="nhsuk-heading-m audit-heading--slim">In <span class="" id="">3</span> different health and care settings</h2>
  <ul class="audit-list-summary__list">
   <li class="audit-list-summary__item">
     <a href="../timeline/nhs-trusts">
       <span class="audit-list-summary__number">3</span> times in an NHS trust
     </a>
   </li>
   <li class="audit-list-summary__item">
     <a href="../timeline/care-homes">
     <span class="audit-list-summary__number">2</span> times in a care home
     </a>
   </li>
   <li class="audit-list-summary__item">
     <a href="../timeline/pharmacy">
     <span class="audit-list-summary__number">1</span> time in a pharmacy
     </a>
   </li>
  </ul>

  <p>
    <a style="display:none" href="../timeline/spinner">See a list of where your Summary Care Record has been looked at</a>
    <a class="govuk-button" href="../timeline/where-your-records-have-been-used">See a full list</a>

  </p>

  <ul style="display:none;" class="nhsuk-list-signage">
  <li class="nhsuk-list-signage__item--white">
    <a href="../timeline/spinner">See a list of where your Summary Care Record has been looked at<svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
      <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
      <image class="nhsuk-icon__chevron-right nhsuk-icon__chevron-right--fallback" src="/assets/images/icons/icon-chevron-right-grey.png" xlink:href=""></image></svg>
    </a>
  </li>
</ul>
</div>

<div class="content-divider content-divider--short"></div>
{% endblock %}

{% block footer %}
  {{ feedbackBanner('Help us make the NHS website better', 'Your feedback helps us improve the NHS website.', '#', 'Take our short survey') }}
{% endblock %}
