{% set title = 'Find out where your health record has been looked at' %}
{% set parent = 'Health A-Z' %}
{% from 'components/inset-text/macro.njk' import insetText %}
{% from 'components/do-dont-list/macro.njk' import list %}
{% from 'components/care-card/macro.njk' import careCard %}
{% from 'components/breadcrumbs/macro.njk' import breadcrumbs %}
{% from 'components/cookie-banner/macro.njk' import cookieBanner %}
{% from 'components/emergency-alert/macro.njk' import emergencyAlert %}
{% from 'components/feedback-banner/macro.njk' import feedbackBanner %}
{% from 'components/phase-banner/macro.njk' import phaseBanner %}
{% from 'components/reveals/macro.njk' import reveal %}
{% extends "includes/templates/transaction-page.html"%}
{% set navigation = 'transactional-at' %}
{% set serviceName = "Find out who's looked at your health records" %}
{% set DATESTAMP = 'Friday 19 January 2018' %}
{% set TIME = '7:24am' %}
{% set LOCATION = 'Moor Allerton Elderly Care' %}
{% set PHONE = '0113 266 0371' %}
{% set ADDRESS = "57 Cranmer Bank <br />
                  Leeds <br />
                  West Yorkshire <br />
                  LS17 5JD"
                  %}
<link href="/assets/css/gds-styles.css" rel="stylesheet" media="all" />

{% block breadcrumb %}
  {{ phaseBanner('New', 'We are testing this service — your <a href="#">feedback</a> will help us to improve it.') }}
{% endblock %}

{% block content %}
<div class="nhsuk-reading-width">
  <nav>
    <p class="audit-back-link">
      <a href="javascript: history.go(-1)">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
          <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
          <image class="nhsuk-icon__chevron-left nhsuk-icon__chevron-left--fallback" src="core/assets/icons/fallback/icon-chevron-left.png" xlink:href="">
          </image>
        </svg>
        Back to list
      </a>
    </p>
  </nav>

  <h1 class="nhsuk-c-transaction-head">
    <span class="audit-heading__subtitle">{{DATESTAMP}}</span>
    {{TIME}}
  </h1>

  <p>Your Summary Care Record was looked at by {{LOCATION}}.</p>

  <h2 class="nhsuk-heading-m">How to find out more</h2>
  <p>Contact {{LOCATION}}:</p>
  <ul>
    <li>for more information</li>
    <li>to make a complaint</li>
  </ul>
  <div role="note" aria-label="Information" class="audit-address-card">
    <address class="">
      <p>
        {{ADDRESS | safe }}
      </p>
      <p>Telephone: {{PHONE}}</p>
    </address>
  </div>

</div>
<div class="content-divider content-divider--short"></div>
{% endblock %}

{% block footer %}
  {{ feedbackBanner('Help us make the NHS website better', 'Your feedback helps us improve the NHS website.', '#', 'Take our short survey') }}
{% endblock %}
