{% set title = 'Find out where your health record has been looked at' %}
{% set parent = 'Health A-Z' %}
{% from 'components/inset-text/macro.njk' import insetText %}
{% from 'components/do-dont-list/macro.njk' import list %}
{% from 'components/care-card/macro.njk' import careCard %}
{% from 'components/breadcrumbs/macro.njk' import breadcrumbs %}
{% from 'components/cookie-banner/macro.njk' import cookieBanner %}
{% from 'components/emergency-alert/macro.njk' import emergencyAlert %}
{% from 'components/feedback-banner/macro.njk' import feedbackBanner %}
{% from 'components/phase-banner/macro.njk' import phaseBanner %}
{% from 'components/reveals/macro.njk' import reveal %}
{% extends "includes/templates/transaction-page.html"%}
{% set navigation = 'transactional-at' %}
<link href="/assets/css/gds-styles.css" rel="stylesheet" media="all" />

{% block breadcrumb %}
  {{ phaseBanner('New', 'We are testing this service — your <a href="#">feedback</a> will help us to improve it.') }}
{% endblock %}

{% block content %}
<div class="nhsuk-reading-width">

  <h1 class="nhsuk-c-transaction-head">
    <span class="audit-timeframe">In the last year</span>
    Where your Summary Care Record has been looked at
  </h1>
  <ul style="display:none;" class="audit-list-unstyled">
    <li>
      <strong>Your name:</strong> Jim Smith
    </li>
    <li>
      <strong>Your NHS number:</strong> 485 777 3456
    </li>
    <li>
      <strong>Your GP Surgery:</strong> <a href="#">Willow lane Surgery</a>
    </li>
  </ul>

  <div class="a-z-list--results">
    <div class="nhsuk-a-z-list--results-items">
      <h2 class="audit-timeline__heading" id="1">September 2018</h2>
        <div class="nhsuk-a-z-list--results-items__box">
          <ul>
            <li>
              <div class="nhsuk-a-z-list--results-items--container">
                <h3>Friday 21 September 2018</h3>

                <ol class="audit-list-timefeed">
                  <li class="audit-list-timefeed__item">
                    <a href="items/1">
                      <svg class="nhsuk-icon nhsuk-icon__chevron-right audit-list-timefeed__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                      <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
                      <image class="nhsuk-icon__chevron-right nhsuk-icon__chevron-right--fallback" src="/assets/images/icons/icon-chevron-right-grey.png" xlink:href=""></image></svg>
                      <span class="audit-list-timefeed__timestamp">3:32pm</span> Leeds Teaching Hospitals NHS Trust
                    </a>
                  </li>
                </ol>

              </div>
            </li>

            <li>
              <div class="nhsuk-a-z-list--results-items--container">
                <h3>Saturday 15 September 2018</h3>

                <ol class="audit-list-timefeed">
                  <li class="audit-list-timefeed__item">
                    <a href="items/2">
                      <svg class="nhsuk-icon nhsuk-icon__chevron-right audit-list-timefeed__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                      <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
                      <image class="nhsuk-icon__chevron-right nhsuk-icon__chevron-right--fallback" src="/assets/images/icons/icon-chevron-right-grey.png" xlink:href=""></image></svg>
                      <span class="audit-list-timefeed__timestamp">8:32pm</span> Moor Allerton Elderly Care
                    </a>
                  </li>
                </ol>

              </div>
            </li>

            <li>
              <div class="nhsuk-a-z-list--results-items--container">
                <h3>Thursday 13 September 2018</h3>

                <ol class="audit-list-timefeed">
                  <li class="audit-list-timefeed__item">
                    <a href="items/3">
                      <svg class="nhsuk-icon nhsuk-icon__chevron-right audit-list-timefeed__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                      <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
                      <image class="nhsuk-icon__chevron-right nhsuk-icon__chevron-right--fallback" src="/assets/images/icons/icon-chevron-right-grey.png" xlink:href=""></image></svg>
                      <span class="audit-list-timefeed__timestamp">11:24am</span> Leeds Community Healthcare NHS Trust
                    </a>
                  </li>
                </ol>

              </div>
            </li>
          </ul>
        </div>
    </div>
  </div>

  <div class="a-z-list--results">
    <div class="nhsuk-a-z-list--results-items">
      <h2 class="audit-timeline__heading" id="2">March 2018</h2>
        <div class="nhsuk-a-z-list--results-items__box">
          <ul>
            <li>
              <div class="nhsuk-a-z-list--results-items--container">
                <h3>Tuesday 13 March 2018</h3>

                <ol class="audit-list-timefeed">
                  <li class="audit-list-timefeed__item">
                    <a href="items/4">
                      <svg class="nhsuk-icon nhsuk-icon__chevron-right audit-list-timefeed__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                      <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
                      <image class="nhsuk-icon__chevron-right nhsuk-icon__chevron-right--fallback" src="/assets/images/icons/icon-chevron-right-grey.png" xlink:href=""></image></svg>
                      <span class="audit-list-timefeed__timestamp">9:57am</span> Leeds Community Healthcare NHS Trust
                    </a>
                  </li>
                </ol>
              </div>
            </li>
          </ul>
        </div>
    </div>
  </div>

  <div class="a-z-list--results">
    <div class="nhsuk-a-z-list--results-items">
      <h2 class="audit-timeline__heading" id="2">January 2018</h2>
        <div class="nhsuk-a-z-list--results-items__box">
          <ul>
            <li>
              <div class="nhsuk-a-z-list--results-items--container">
                <h3>Friday 19 January 2018</h3>

                <ol class="audit-list-timefeed">
                  <li class="audit-list-timefeed__item">
                    <a href="items/5">
                      <svg class="nhsuk-icon nhsuk-icon__chevron-right audit-list-timefeed__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                      <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
                      <image class="nhsuk-icon__chevron-right nhsuk-icon__chevron-right--fallback" src="/assets/images/icons/icon-chevron-right-grey.png" xlink:href=""></image></svg>
                      <span class="audit-list-timefeed__timestamp">7:24am</span> Moor Allerton Elderly Care
                    </a>
                  </li>
                  <li class="audit-list-timefeed__item">
                    <a href="items/6">
                      <svg class="nhsuk-icon nhsuk-icon__chevron-right audit-list-timefeed__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                      <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
                      <image class="nhsuk-icon__chevron-right nhsuk-icon__chevron-right--fallback" src="/assets/images/icons/icon-chevron-right-grey.png" xlink:href=""></image></svg>
                      <span class="audit-list-timefeed__timestamp">2:24pm</span> Knights Pharmacy
                    </a>
                  </li>
                </ol>
              </div>
            </li>
          </ul>
        </div>
    </div>
  </div>


</div>

<div class="content-divider content-divider--short"></div>
{% endblock %}

{% block footer %}
  {{ feedbackBanner('Help us make the NHS website better', 'Your feedback helps us improve the NHS website.', '#', 'Take our short survey') }}
{% endblock %}
