{% set title = 'Find out where your health record has been looked at' %}
{% set parent = 'Health A-Z' %}
{% from 'components/inset-text/macro.njk' import insetText %}
{% from 'components/do-dont-list/macro.njk' import list %}
{% from 'components/care-card/macro.njk' import careCard %}
{% from 'components/breadcrumbs/macro.njk' import breadcrumbs %}
{% from 'components/cookie-banner/macro.njk' import cookieBanner %}
{% from 'components/emergency-alert/macro.njk' import emergencyAlert %}
{% from 'components/feedback-banner/macro.njk' import feedbackBanner %}
{% from 'components/phase-banner/macro.njk' import phaseBanner %}
{% from 'components/reveals/macro.njk' import reveal %}
{% extends "includes/templates/transaction-page.html"%}
{% set navigation = 'transactional-at' %}
{% set serviceName = "Find out who's looked at your health records" %}
<link href="/assets/css/gds-styles.css" rel="stylesheet" media="all" />

{% block breadcrumb %}
  {{ phaseBanner('New', 'We are testing this service — your <a href="#">feedback</a> will help us to improve it.') }}
{% endblock %}

{% block content %}
<div class="nhsuk-reading-width">
  <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
  <h2 class="govuk-error-summary__title" id="error-summary-title">
    There's a problem
  </h2>
  <div class="govuk-error-summary__body">
    <ul class="govuk-list govuk-error-summary__list">
      <li>
        <a href="#nhs-login-error">Select if you have an NHS login</a>
      </li>
    </ul>
  </div>
</div>

  <div class="govuk-form-group govuk-form-group--error">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend">
      <h1 class="nhsuk-c-transaction-head">
        Do you have an NHS login?
      </h1>
    </legend>
    <span id="nhs-login-error" class="govuk-error-message">
      Select if you have an NHS login
    </span>
    <div class="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="nhs-login-1" name="nhs-login" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="nhs-login-1">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="nhs-login-2" name="nhs-login" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="nhs-login-2">
          No, I'll need to create one
        </label>
      </div>
      <div class="govuk-radios__divider">or</div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="nhs-login-3" name="nhs-login" type="radio" value="unsure">
        <label class="govuk-label govuk-radios__label" for="nhs-login-3">
          I'm unsure
        </label>
      </div>
    </div>
  </fieldset>
</div>

  <p>
    <button type="submit" class="govuk-button" onclick="window.location.href='../end'" >Continue</button>
  </p>
</div>

<div class="content-divider content-divider--short"></div>
{% endblock %}

{% block footer %}
  {{ feedbackBanner('Help us make the NHS website better', 'Your feedback helps us improve the NHS website.', '#', 'Take our short survey') }}
{% endblock %}
