{% set title = 'Home' %}
{% set navigation = 'transactional' %}
{% from 'components/callout/macro.njk' import callout %}
{% extends 'includes/site-layout.html' %}

{% block body %}
<main id="main-content" class="nhsuk-home-page">
    <div class="nhsuk-hero">
        <div class="nhsuk-o-width-container">
            <div class="nhsuk-o-main-wrapper nhsuk-hero-container">
                <div class="nhsuk-o-grid">
                    <div class="nhsuk-o-grid__item nhsuk-o-grid__item--full">
                        <div class="nhsuk-page-heading">
                            <h1>Audit and transparency</h1>
                            <p>Prototypes, explorations and concepts</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="nhsuk-o-width-container">
        <div class="nhsuk-o-main-wrapper">
            <div class="nhsuk-o-grid">
                <div class="nhsuk-o-grid__item nhsuk-o-grid__item--full">

                  <h2>End to end prototypes</h2>

                  <h2>Service prototypes</h2>
                  <ul>
                    <li>After lab 1 - <a href="v3/start">Late November 2018</a></li>
                    <li>Refinement - <a href="v2/start">November 2018</a></li>
                    <li>Initial exploration - <a href="v1/start">25th October 2018</a></li>
                  </ul>

                  <h2>NHS website prototypes</h2>

                  <ul>
                    <li>Hub - <a href="v3/hub/">Late November 2018</a></li>
                  </ul>

                    <div class="nhsuk-reading-width">
                        <h2>Related stuff</h2>
                        <ul>
							              <li><a href="https://ndop-n.herokuapp.com/v1/01-overview">National data opt-out</a></li>
                            <li><a href="https://github.com/GrilloPress/audit-transparency">Public GitHub repository</a>.</li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
